mat-grid-tile {
    height: 500px;
    width: 500px;
}
mat-form-field{
    width: 100%
}
mat-card {
    margin-top: 15px;
}
app-image{
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 20px;
}
.container{
    width: 1200px;
}