<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Profile Info</mat-card-title>
        </mat-card-header>
        <mat-form-field>
            <input matInput placeholder="User Name" readonly [value]="user?.userName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="First Name" readonly [value]="user?.firstName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name" readonly [value]="user?.lastName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" readonly [value]="user?.email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Gender" readonly [value]="user?.gender">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Country" readonly [value]="user?.country">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="City" readonly [value]="user?.city">
        </mat-form-field>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>User Relationships</mat-card-title>
        </mat-card-header>
        <ngx-graph class="chart-container" layout="colaForceDirected" [center$]="center$" [links]="edges"
            [nodes]="nodes">
            <ng-template #defsTemplate>
                <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                    orient="auto">
                    <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                </svg:marker>
            </ng-template>
            <ng-template #nodeTemplate let-node>
                <svg:g class="node" (dblclick)="onDoubleClick(node)">
                    <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
                        [attr.fill]="node.id == user.id ? 'lightgreen': 'aliceblue'" />
                    <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                        {{node.label}}
                    </svg:text>
                </svg:g>
            </ng-template>
            <ng-template #linkTemplate let-link>
                <svg:g class="edge">
                    <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
                    </svg:path>
                    <svg:text class="edge-label" text-anchor="middle">
                        <textPath class="text-path" [attr.href]="'#' + link.id"
                            [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">{{link.label}}
                        </textPath>
                    </svg:text>
                </svg:g>
            </ng-template>
        </ngx-graph>
        <mat-card-actions>
            <button (click)="onViewDetailsClick()" class="view-details-button" mat-raised-button>View Details</button>
        </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="user.images?.length > 0">
        <mat-card-header>
            <mat-card-title>User Media</mat-card-title>
        </mat-card-header>
        <app-image *ngFor="let imageInfo of user.images" [info]="imageInfo" [show-author]="false"></app-image>
    </mat-card>
</div>